@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;

}

.slider{
    width:100%;
    min-height:80vh;
    aspect-ratio: 16/9;
    background: #000;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    filter: brightness(30%) blur(8px);
    object-fit: cover;
}

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    color: #fff;
    font-size: 5rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 100px;
}

p{
    font-size: 1.5rem;
    line-height: 1.5em;
}

.slider-content p{
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}

.section{
    padding: 100px 0;
}

.boxed{
    max-width: 1280px;
    margin-inline: auto;
}

.flex{
    display: flex;
}

.dark{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../img/slider.jpg);
    background-size: cover;
    background-position-y: 10%;
    color: #fff;
}

.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

.text-center{
    text-align: center;
}

.w25{
    width: 25%;
}

.w32{
    width: 32%;
}

.space-between{
    justify-content: space-between;
}

.gap20{
    gap: 20px;
}

.skill{
    background: #c0c0c0;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.skill-img {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}


.skill h3{
    color: #000;
    margin-top: 10px;
}

.icon {
    display: block;
    font-size: 40px !important;
}

.label {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
}

.value{
    display: block;
    font-size: 1.5rem;
}

.contact {
    border: solid #000;
    border-radius: 8px;
    padding: 30px;
    box-sizing: border-box;
}

.aligncenter{
    align-items: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.7);
    transition: 0.5s ease;
}

.header-logo{
    display: block;
}

.header-logo img{
    width: 60px;
}

.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.header-menu li a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    display: block;
    box-sizing: border-box;
    transition: .3s ease;
}

.header-menu li a:hover{
    background-color: #f2f2f2;
}

.header-menu li:last-child a{
    background-color: rgb(134, 0, 0);
    color: #fff;
}

.header-active {
    background-color: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(10px);
    transition: 2s ease;
}


.contact {
    padding: 0;
    overflow: hidden;
}


.contact-link {
    display: block;
    padding: 30px;
    text-decoration: none;
    color: inherit;
    height: 100%;
    box-sizing: border-box;
    transition: background 0.3s ease;
}


.contact-link:hover {
    background-color: #e4e4e4;
}